<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Scraper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Phone Scraper</h1>
    <form action="/" method="post">
        <textarea name="data" rows="10" cols="50" placeholder="Example: https://www.marketwiz.asia,MarketWiz Asia"></textarea><br>
        <input type="submit" value="START">
    </form>

    {% if results %}
        
        <a download="phone_numbers.csv" href="data:text/csv;charset=utf-8,{{ results|e }}">Download CSV</a>
        <pre>{{ results }}</pre>
    {% endif %}
</body>
</html>
